# Ignore everything
/*

!/.github
!/buildSrc
!/gradle
!/src

!/.gitattributes
!/.gitignore
!/build.gradle*
!/checkstyle.xml
!/codenarc.groovy
!/eclipse-formatter.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle*

/src/**/generated
